@import "tailwindcss";
@import "@fontsource/newsreader";
@import "@fontsource/inter";
@import "@fontsource/ibm-plex-mono";
@import "@fontsource/poppins/400.css";
@import "@fontsource/poppins/500.css";
@import "@fontsource/poppins/700.css";

@theme {
  --font-newsreader: "Newsreader", serif;
  --font-inter: "Inter", sans-serif;
  --font-ibmMono: "IBM Plex Mono", monospace;
}

@theme {
  --font-poppins: "Poppins", sans-serif;
}

@theme {
  --color-primary: #0a0a0a;
  --color-secondary: #ffffff;
}
